.header {
    background-color: $void;
    max-width: 100%;
    padding: $xxl-size;
    user-select: none;
}

.header__title {
    border-bottom: 1px solid $fuscia;
    color: $fuscia;
    font-family: 'SpaceMono', sans-serif;
    font-size: $xxl-size;
    font-style: normal;
    font-weight: 800;
    letter-spacing: $m-size;
    overflow-wrap: break-word;
    padding-bottom: $m-size;
    text-align: center;
}

.header__tagline {
    color: $jewel;
    font-family: 'SpaceMono', sans-serif;
    font-size: $l-size;
    font-style: italic;
    font-weight: 600;
    letter-spacing: $s-size;
    overflow-wrap: break-word;
    text-align: center;
}
